@page
@using Linn.LinnappsUi.Service.Host.Pages
@model Linn.LinnappsUi.Service.Host.Pages.IndexModel2
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2>Linnapps Utilities</h2>
    
    <p>
        <h3>Reports</h3>
        <ul>
            <li><a asp-page="/linnapps-ui/products/eancodesreport">Ean Codes Report</a></li>
            <li><a asp-page="/linnapps-ui/products/sacoretypes/CoreTypeBySalesArticle">Core Types By Article</a></li>
        </ul>
    </p>
</div>
