@page
@using Linn.LinnappsUi.Service.Host.Pages
@model Linn.LinnappsUi.Service.Host.Pages.IndexModel3
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h2>Awesome Thing</h2>
    <dd>
        @Html.DisplayFor(model => model.DisplayThing)
    </dd>
</div>
