@page
@model Service.Host.Pages.linnapps_ui.Products.SalesArticles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SalesArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalesArticle.TypeOfSale" class="control-label"></label>
                <input asp-for="SalesArticle.TypeOfSale" class="form-control" />
                <span asp-validation-for="SalesArticle.TypeOfSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesArticle.InvoiceDescription" class="control-label"></label>
                <input asp-for="SalesArticle.InvoiceDescription" class="form-control" />
                <span asp-validation-for="SalesArticle.InvoiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesArticle.EanCode" class="control-label"></label>
                <input asp-for="SalesArticle.EanCode" class="form-control" />
                <span asp-validation-for="SalesArticle.EanCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesArticle.PackingDescription" class="control-label"></label>
                <input asp-for="SalesArticle.PackingDescription" class="form-control" />
                <span asp-validation-for="SalesArticle.PackingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesArticle.SaDiscountFamily" class="control-label"></label>
                <input asp-for="SalesArticle.SaDiscountFamily" class="form-control" />
                <span asp-validation-for="SalesArticle.SaDiscountFamily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesArticle.PhaseInDate" class="control-label"></label>
                <input asp-for="SalesArticle.PhaseInDate" class="form-control" />
                <span asp-validation-for="SalesArticle.PhaseInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesArticle.PhaseOutDate" class="control-label"></label>
                <input asp-for="SalesArticle.PhaseOutDate" class="form-control" />
                <span asp-validation-for="SalesArticle.PhaseOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesArticle.CartonType" class="control-label"></label>
                <input asp-for="SalesArticle.CartonType" class="form-control" />
                <span asp-validation-for="SalesArticle.CartonType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
